<div class="col-xs-4">
    <div class="form-group" *ngFor="let stat of _stats">
        <label class="control-label col-xs-7" for="{{stat.label}}">{{stat.label}}</label>
        <div class="col-xs-5">
            <input class="form-control input-sm" type="number" min="0" [disabled]="stat.sid != 'HEALTH' && getTotalUsedStatPoints() == 40" (change)="validateStats(stat)" [(ngModel)]="stat.value" id="{{stat.label}}" value="{{stat.value}}" />
        </div>
    </div>
</div>
<div class="col-xs-4">
    <div class="display-stats-points-left">{{ 40 - getTotalUsedStatPoints() }}</div>
    <p class="text-center">Points restants à distribuer</p>
    <button class="btn btn-block btn-success" (click)="resetStatsPoints()">Remettre à zéro</button>
</div>
<div class="col-xs-4">
    <div class="radarChart">TODO: Chart</div>
</div>
