<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">Knights of Elmore</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li [class.active]="routerLinkActive"><a routerLink="/items" routerLinkActive="active">Objets</a></li>
                <li [class.active]="routerLinkActive"><a routerLink="/items-editor" routerLinkActive="active">Éditeur d'objets</a></li>
                <li [class.active]="routerLinkActive"><a routerLink="/editor" routerLinkActive="active">Éditeur de Héro</a></li>
                <li [class.active]="routerLinkActive"><a routerLink="/game" routerLinkActive="active">Champ de bataille</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:8080/swagger-ui.html" target="_blank">Swagger 2 API Rest Doc</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<hr/>
