<div class="container-fluid">
    <div class="row">
        <section class="col-lg-12">
            <div class="col-lg-3"></div>
            <h1 class="col-lg-6 text-center">Battlefield</h1>
            <div class="col-lg-3"></div>
        </section>
        <section class="col-xs-12">
            <div class="col-sm-3"></div>
            <div class="col-xs-12 col-sm-3 game-action-type">
                <figure (click)="changeActionType('MOVE', true)">
                    <img *ngIf="_selectedActionTypeP1 != getActionTypeFromString('MOVE')" src="../../../assets/images/icons/action_move.png" />
                    <img *ngIf="_selectedActionTypeP1 == getActionTypeFromString('MOVE')" src="../../../assets/images/icons/action_move_selected.png" />
                    <figcaption>Mouvement</figcaption>
                </figure>
                <figure (click)="changeActionType('ASSIST', true)">
                    <img *ngIf="_selectedActionTypeP1 != getActionTypeFromString('ASSIST')" src="../../../assets/images/icons/action_assist.png" />
                    <img *ngIf="_selectedActionTypeP1 == getActionTypeFromString('ASSIST')" src="../../../assets/images/icons/action_assist_selected.png" />
                    <figcaption>Assistance</figcaption>
                </figure>
                <figure (click)="changeActionType('ATTACK', true)">
                    <img *ngIf="_selectedActionTypeP1 != getActionTypeFromString('ATTACK')" src="../../../assets/images/icons/action_attack.png"/>
                    <img *ngIf="_selectedActionTypeP1 == getActionTypeFromString('ATTACK')" src="../../../assets/images/icons/action_attack_selected.png" />
                    <figcaption>Attaque</figcaption>
                </figure>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div style="float: right;">
                    <figure (click)="changeActionType('MOVE', false)">
                        <img *ngIf="_selectedActionTypeP2 != getActionTypeFromString('MOVE')" src="../../../assets/images/icons/action_move.png" />
                        <img *ngIf="_selectedActionTypeP2 == getActionTypeFromString('MOVE')" src="../../../assets/images/icons/action_move_selected.png" />
                        <figcaption>Mouvement</figcaption>
                    </figure>
                    <figure (click)="changeActionType('ASSIST', false)">
                        <img *ngIf="_selectedActionTypeP2 != getActionTypeFromString('ASSIST')" src="../../../assets/images/icons/action_assist.png" />
                        <img *ngIf="_selectedActionTypeP2 == getActionTypeFromString('ASSIST')" src="../../../assets/images/icons/action_assist_selected.png" />
                        <figcaption>Assistance</figcaption>
                    </figure>
                    <figure (click)="changeActionType('ATTACK', false)">
                        <img *ngIf="_selectedActionTypeP2 != getActionTypeFromString('ATTACK')" src="../../../assets/images/icons/action_attack.png" />
                        <img *ngIf="_selectedActionTypeP2 == getActionTypeFromString('ATTACK')" src="../../../assets/images/icons/action_attack_selected.png" />
                        <figcaption>Attaque</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </section>
        <section class="col-lg-12">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 battlefield">
                <div *ngFor="let cols of _cases">
                    <div *ngFor="let case of cols" class="battlefield-case" (click)="selectCase(case)"
                         [class.hero-card-highlight-move-pattern]="case._highlightPattern && getCurrentPlayerActionTypeToString() == 'MOVE'"
                         [class.hero-card-highlight-assist-pattern]="case._highlightPattern && getCurrentPlayerActionTypeToString() == 'ASSIST'"
                         [class.hero-card-highlight-attack-pattern]="case._highlightPattern && getCurrentPlayerActionTypeToString() == 'ATTACK'"
                         [class.pointer-attack]="toggleAttackCursor(case)"
                         [class.pointer-assist]="toggleAssistCursor(case)"
                         [class.highlight]="case._highlight || _selectedHero && case._object && _selectedHero.id == case._object.id">
                        <div *ngIf="case._object && !case._object.imageB64" class="battlefield-case-img" [style.background-image]="'url(../../../assets/images/heroes/small/' + case._object.image + '.png)'"></div>
                        <div *ngIf="case._object && case._object.imageB64" class="battlefield-case-img" [style.background-image]="'url(data:image/png;charset=utf-8;base64,case._object.iconB64)'"></div>
                        <div *ngIf="case._object" id="progressbar">
                            <div [style.width]="getHealth(case._object)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </section>
        <section class="col-lg-12" *ngIf="_isFirstPlayerTurn">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 battlefield-player-cards-container">
                <section class="battlefield-player-cards" *ngFor="let hero of _heroesP1">
                    <img *ngIf="!hero.imageB64" src="../../../assets/images/heroes/{{hero.image}}.jpg" alt="NaN" class="small-hero-card-img" (mouseenter)="highlight(hero)" (mouseout)="unHighlight(hero)" (click)="selectHero(hero)" [class.hero-card-highlight]="_selectedHero && hero.id == _selectedHero.id" />
                    <img *ngIf="hero.imageB64" src="data:image/jpg;charset=utf-8;base64,{{hero.imageB64}}.jpg" alt="NaN" class="small-hero-card-img" (mouseenter)="highlight(hero)" (mouseout)="unHighlight(hero)" (click)="selectHero(hero)" [class.hero-card-highlight]="_selectedHero && hero.id == _selectedHero.id" />
                </section>
            </div>
            <div class="col-lg-2"></div>
        </section>
        <section class="col-lg-12" *ngIf="!_isFirstPlayerTurn">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 battlefield-player-cards-container">
                <section class="battlefield-player-cards" *ngFor="let hero of _heroesP2">
                    <img *ngIf="!hero.imageB64" src="../../../assets/images/heroes/{{hero.image}}.jpg" alt="NaN" class="small-hero-card-img" (mouseenter)="highlight(hero)" (mouseout)="unHighlight(hero)" (click)="selectHero(hero)" [class.hero-card-highlight]="_selectedHero && hero.id == _selectedHero.id" />
                    <img *ngIf="hero.imageB64" src="data:image/jpg;charset=utf-8;base64,{{hero.image}}.jpg" alt="NaN" class="small-hero-card-img" (mouseenter)="highlight(hero)" (mouseout)="unHighlight(hero)" (click)="selectHero(hero)" [class.hero-card-highlight]="_selectedHero && hero.id == _selectedHero.id" />
                </section>
            </div>
            <div class="col-lg-2"></div>
        </section>
    </div>
</div>
