.battlefield {
    display: flex;
    justify-content: center;
}

.battlefield-player-cards-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.battlefield-player-cards {
    height: 200px;
    width: auto;
    margin-right: 8px;
}

.battlefield-player-cards:hover {
    -webkit-box-shadow: 0px 0px 0px 3px rgba(247,250,147,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(247,250,147,1);
    box-shadow: 0px 0px 0px 3px rgba(247,250,147,1);
}

.battlefield-player-cards:last-child {
    margin-right: 0;
}

.battlefield-case {
    border: 1px solid black;
    height: 60px;
    width: 65px;
    position: relative;
}

.battlefield-case:last-child {
    border-right: 1px solid black;
}

.battlefield-case-img {
    height: 100%;
    background-size: cover;
}

.highlight {
    border: 1px solid yellow;
}

.hero-card-highlight {
    border: 1px solid yellow;
}

.hero-card-highlight-move-pattern {
    background-color: rgba(74, 178, 233, 0.5);
}

.hero-card-highlight-assist-pattern {
    background-color: rgba(229, 235, 4, 0.5);
}

.hero-card-highlight-attack-pattern {
    background-color: rgba(250, 0, 0, 0.5);
}

.small-hero-card-img {
    height: 200px;
    width: auto;
}

figure {
    display: inline-block;
    text-align: center;
    margin: 10px 10px 20px 10px;
}

figure img {
    height: 48px;
}

figure:hover {
    cursor: pointer;
}

#progressbar {
    background-color: black;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 1px;
    position: absolute;
    bottom: 0;
}

#progressbar > div {
    background-color: #c9302c;
    width: 60px; /* Ajust with javascript */
    max-width: 60px;
    height: 3px;
    border-radius: 10px;
}

.pointer-attack {
    cursor: url('../../../assets/images/icons/epee-white.png'), pointer;
}

.pointer-assist {
    cursor: url('../../../assets/images/icons/cursor_assist.png'), pointer;
}
