<div class="container-fluid">
    <div class="row">
        <section class="col-xs-6">
            <section class="panel panel-default col-xs-12">
                <div class="panel-body">
                    <div class="col-xs-12">
                        <button class="btn btn-sm btn-success inline-block" (click)="create()">Nouveau</button>
                        <button *ngIf="_selectedHero" class="btn btn-sm btn-danger inline-block" (click)="remove(_selectedHero.id)">Supprimer</button>
                    </div>
                    <div class="col-xs-12">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-2" for="search-box">Recherche</label>
                        <input type="text" size="30" class="col-xs-12 col-md-6 col-lg-10" #searchBox placeholder="Recherche par nom" id="search-box" (keyup)="search(searchBox.value)" />
                    </div>
                    <div class="col-xs-12">
                        <label for="select" class="col-xs-12 col-md-2 col-lg-2">Tri par statistique</label>
                        <select id="select" class="col-xs-12 col-md-5 col-lg-4 my-select-input" [(ngModel)]="_searchStat" (change)="sortByStats(sortStatInput.value)">
                            <option *ngFor="let stat of _stats" value="{{stat.sid}}">{{stat.label}}</option>
                        </select>
                        <div class="col-lg-1"> >= </div>
                        <input class="col-xs-12 col-md-5 col-lg-5" #sortStatInput (change)="sortByStats($event.target.value)" type="number" min="0" max="50" value="0" />
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="small-hero-card-img col-xs-3" *ngFor="let hero of _displayedHeroes">
                    <img *ngIf="hero.image && !hero.imageB64" src="../../../assets/images/heroes/{{hero.image}}.jpg" alt="NaN" class="img-responsive small-hero-card-img" (click)="selectHero(hero)" [class.hero-card-highlight]="_selectedHero && hero.id == _selectedHero.id" />
                    <img *ngIf="hero.imageB64" src="data:image/jpg;charset=utf-8;base64,{{hero.imageB64}}" alt="NaN" class="img-responsive small-hero-card-img" (click)="selectHero(hero)" [class.hero-card-highlight]="_selectedHero && hero.id == _selectedHero.id" />
                </div>
            </div>
        </section>
        <section class="col-xs-6">
            <div class="text-center" *ngIf="!_selectedHero">
                Selectionnez un Héro
            </div>
            <div class="panel panel-default" *ngIf="_selectedHero">
                <div class="panel-heading">Panel d'édition<span class="float-right" [hidden]="!_selectedHero"><button class="btn btn-sm btn-success" (click)="update(_selectedHero)">Synchroniser les changements</button></span></div>
                <div class="panel-body">
                    <div>
                        <fieldset class="col-xs-12">
                            <legend>Informations de base</legend>
                            <div class="form-group">
                                <label class="control-label col-xs-2" for="input-name">Nom</label>
                                <div class="col-xs-10">
                                    <input class="form-control input-sm" type="text" [(ngModel)]="_selectedHero.name" id="input-name" value="{{_selectedHero.name}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2" for="input-description">Description</label>
                                <div class="col-xs-10">
                                    <textarea class="form-control" [(ngModel)]="_selectedHero.description" rows="5" id="input-description">{{_selectedHero.description}}</textarea>
                                    <span class="help-block">Caractères restants : {{500 - _selectedHero.description.length}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-xs-12">
                            <legend>Objet</legend>
                            <app-hero-editor-item [_hero]="_selectedHero"></app-hero-editor-item>
                        </fieldset>
                        <fieldset class="col-xs-4">
                            <legend>Pattern de déplacement</legend>
                            <app-hero-editor-pattern [_heroPattern]="_selectedHero.movePattern" [_addClass]="'pattern-bg-color-blue'"></app-hero-editor-pattern>
                        </fieldset>
                        <fieldset class="col-xs-4">
                            <legend>Pattern d'assistance</legend>
                            <app-hero-editor-pattern [_heroPattern]="_selectedHero.assistancePattern" [_addClass]="'pattern-bg-color-yellow'"></app-hero-editor-pattern>
                        </fieldset>
                        <fieldset class="col-xs-4">
                            <legend>Pattern d'attaque</legend>
                            <app-hero-editor-pattern [_heroPattern]="_selectedHero.attackPattern" [_addClass]="'pattern-bg-color-red'"></app-hero-editor-pattern>
                        </fieldset>
                        <fieldset class="col-xs-12">
                            <legend>Statistiques</legend>
                            <app-hero-editor-stats [_stats]="_selectedHero.stats" [_changeStatFunction]="statsChangeFunction"></app-hero-editor-stats>
                        </fieldset>
                        <fieldset class="col-xs-12">
                            <legend>Images</legend>
                            <app-hero-editor-image [_hero]="_selectedHero"></app-hero-editor-image>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
