<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <a class="btn btn-sm btn-warning" (click)="reset()">Recommencer</a>
                <a class="btn btn-sm btn-success" (click)="validate()">Valider et commencer</a>
            </div>
            <div class="col-xs-12" [hidden]="!_displayError">
                <p #errors></p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="hero-card" *ngFor="let hero of _heroes" (click)="selectHero(hero)">
                <div class="panel flip-container" ontouchstart="this.classList.toggle('hover');"
                     [ngClass]="{'panel-default': !isSelectedByPlayer1(hero) && !isSelectedByPlayer2(hero), 'panel-success': isSelectedByPlayer1(hero), ' panel-danger ': isSelectedByPlayer2(hero) }">
                    <div class="panel-heading">
                        {{hero.name}}
                    </div>
                    <div class="panel-body flipper">
                        <div class="front">
                            <!-- front content -->
                            <figure>
                                <img src="/assets/images/heroes/{{hero.imageName}}.jpg" alt="Erreur" />
                            </figure>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <div *ngFor="let stat of hero.stats">
                                <div class="stat-part" style="width: 70%;">{{stat.label}}</div>
                                <div class="stat-part" style="width: 20%;text-align: right;">{{stat.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
